.blanco{
	color: white;
}

div#services.color.black {
	background: #596fa0;
	color: #fff;
}
div.color2{
	background: #f5f5f5;
	color: #414141;
}

.color.black h2 span {
	background: #596fa0;
}

.color.black h2 .vision {
	background: #f5f5f5;
	color: #414141;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Droid Sans" !important;
	font-weight: normal !important;
	margin: 0;
	padding: 0;
}


hr.clean {
	margin: 15px 0;
  	border: 0;
  	border-top: 1px solid transparent;
  	border-bottom: 1px solid transparent;
}


.wrapper {
	padding: 20px 20px;
	margin: 0px auto !important;
	float: none;
}




/* Page Title
=================================================================== */

#page-title {
	margin: 30px 0px 20px 0px;
}

#page-title-inner {
	padding: 15px 40px;
}

#page-title h2 {
	display: inline-block;
	font-family: "Droid Sans" !important;
	color: #fff;
	font-size: 36px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	position: relative;
}

#page-title h2:before,
#page-title h2:after {
    display: block;
    height: 1px;
    content: " ";
    width: 40%;
    position: absolute;
    top: 0.53em;
	z-index: 1;
}

#page-title h2:before {
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    left: 0;
}

#page-title h2:after {
	background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */	
   	right: 0;  
   	left: auto; 
}

#page-title h2 span {
	padding: 0px 10px;
	position: relative;
	z-index: 2;
}

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}


/* Mobile Landscape Size to Tablet Portrait (devices and browsers)
====================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	body {
		padding-bottom: 20px;
	}
	
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
=================================================================== */
@media only screen and (max-width: 479px) {
	
	body {
		padding: 0px;
	}
	
}	